rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth.uid != null;
    }

    function isAssigned(uid) {
      return request.auth.uid == uid;
    }

    function isAdmin() {
      return isSignedIn() && exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    match /users/{userId} {
      allow create, read: if isSignedIn();
      allow delete: if isAssigned(userId);
      allow update: if isAssigned(userId) && (!request.resource.data.diff(resource.data).affectedKeys().hasAny(['courses', 'paddy_points', 'sessions']));

      match /notifications/{notificationId} {
        allow read: if isAssigned(userId);
      }

      match /bank/{bank} {
        allow read: if isAssigned(userId);
      }

      match /courses/{courseId} {
        allow read: if isAssigned(userId);

        match /logs/{lessonId} {
          allow read: if isAssigned(userId);
        }
      }

      match /availables/{availableId} {
        allow create: if isAssigned(userId);
        allow read: if isSignedIn();
        allow delete: if isAssigned(userId);
        allow update: if isSignedIn() && (!request.resource.data.diff(resource.data).affectedKeys().hasAny(['start', 'end', 'timestamp']));
      }

      match /reviews/{reviewId} {
        allow create: if isSignedIn();
        allow read: if isSignedIn();
      }

      match /history/{historyId} {
        allow read: if isAssigned(userId);
      }
    }

    match /interests/{interest} {
      allow read;
    }

    match /sessions/{sessionId} {
      allow create: if isSignedIn();
      allow read: if isAssigned(resource.data.menteeUid) || isAssigned(resource.data.mentorUid);
    }

    match /courses/{courseId} {
      allow write: if isAdmin();
      allow read: if isSignedIn();

      match /lessons/{lessonId} {
        allow write: if isAdmin();
        allow read: if isSignedIn();
      }

      match /enrolled/{enrolledId} {
        allow create, read: if isSignedIn();
      }
    }

    match /jobs/{jobId} {
      allow create: if isSignedIn() && request.auth.token.role == 'Mentor';
      allow read: if isSignedIn();

      match /comments/{commentId} {
        allow create, read: if isSignedIn();
        allow delete: if isAssigned(resource.data.commenterUid);
      }
    }

    match /posts/{postId} {
      allow create: if isSignedIn() && request.auth.token.role == 'Mentor';
      allow read: if isSignedIn();

      match /comments/{commentId} {
        allow create, read: if isSignedIn();
        allow delete: if isAssigned(resource.data.commenterUid);
      }
    }

    match /plans/{planId} {
      allow read: if isSignedIn();
    }
  }
}